<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="add-post">Add Post</a>
        <a class="navbar-brand" href="add-category">Add Category</a>
        <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                <li class="nav-item " ngbDropdown>
                    <a class="nav-link" ngbDropdownToggle href="#" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li><a href="#" ngbDropdownItem>Action</a></li>
                        <li><a href="#" ngbDropdownItem>Another action</a></li>
                        <li><a href="#" ngbDropdownItem>Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<br>

<router-outlet> </router-outlet>
<footer>&copy; by Vuong nguyen</footer>
